.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
debug/
target/
Cargo.lock
**/*.rs.bk
*.pdb
.idea
*.iml
out
gen
rust-project.json
